<p id="notice"><%= notice %></p>

<h1>Personas (edad promedio: <%= @promedio %>)</h1>

<table style="border: 1px solid black">
  <thead>
    <tr class="<%= cycle('list_line_odd','list_line_even')%>">
      <td>Nombre</td>
      <td>Apellido</td>
      <td>Fecha nac</td>
      <td>Dni</td>
      <td>Mostrar</td>
      <td>Editar</td>
      <td>Borrar</td>
    </tr>
  </thead>
  <tbody>
    <% cache @personas_x_mes do%>
      <% @personas_x_mes.each do |mes, persons| %>
        <td>Mes: <strong> <%= %w{dummy Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre}[mes.strftime("%m").to_i] %></strong></td>
        <% cache persons do%>
          <% persons.each do |per|%>
            <tr class="entry">
              <td><%= per.nombre %></td>
              <td><%= per.apellido %></td>
              <td><%= per.fecha_nac %></td>
              <td><%= per.dni %></td>
              <td><%= link_to 'Show', per %></td>
              <td><%= link_to 'Edit', edit_persona_path(per) %></td>
              <td><%= link_to 'Destroy', per, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Persona', new_persona_path %>
